<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllMathTests">
    <test name="RunAllMathTestClasses">
        <classes>
            <class name="org.hgnv11.util.mathutil.core.MathUtilityTest"/>
            <class name="org.hgnv11.util.mathutil.core.MathUtilityDDTTest"/>
        </classes>
    </test>
</suite>
