<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MathUtilityTestSuite" parallel="classes">
    <test name="MathUtilityTests">
        <classes>
            <class name="org.hgnv11.util.mathutil.core.MathUtilityTest"/>
            <class name="org.hgnv11.util.mathutil.core.MathUtilityDDTTest"/>
        </classes>
    </test>
</suite>
